vti_encoding:SR|utf8-nl
vti_author:SR|DESKTOP-UKBCL1I\\waduz
vti_modifiedby:SR|DESKTOP-UKBCL1I\\waduz
vti_timelastmodified:TW|28 Nov 2020 01:38:59 -0000
vti_timecreated:TR|27 Nov 2020 21:33:56 -0000
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|Assignment4/assignment4.html
vti_nexttolasttimemodified:TW|28 Nov 2020 01:38:59 -0000
vti_cacheddtm:TX|28 Nov 2020 01:38:59 -0000
vti_filesize:IR|1460
vti_cachedlinkinfo:VX|S|images/Continuing\\ Education.png
vti_cachedsvcrellinks:VX|FSUS|Assignment4/images/Continuing\\ Education.png
